@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*=====================================*/
* {
  padding: 0;
  margin: 0; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  font-family: '微軟正黑體';
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.wrapper {
  width: 100%;
  height: 100%; }

#header {
  width: 100%;
  height: auto;
  padding: 2rem 1rem;
  border-bottom: 1px solid #ececec; }
  #header .header-wrppper {
    width: 1200px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #header .header-wrppper .nav-toggle {
      display: none; }
    #header .header-wrppper .logo {
      width: 131px;
      height: 54px;
      background-image: url("../images/logo.png");
      background-repeat: no-repeat; }
    #header .header-wrppper ul {
      margin-left: auto; }
      #header .header-wrppper ul li {
        display: inline-block; }
        #header .header-wrppper ul li a {
          text-decoration: none;
          font-size: 16px;
          color: #676767;
          padding: .5rem 1.75rem; }
          #header .header-wrppper ul li a.active {
            background-color: #00b2fc;
            color: #fff; }

#swiper {
  width: 1200px;
  padding: 1rem 0;
  margin: 0 auto; }
  #swiper .swiper-slide img {
    width: 100%;
    height: auto; }

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #fff; }

#course {
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  #course a {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    height: 293px;
    position: relative;
    text-decoration: none;
    color: #fff; }
    #course a img {
      width: 100%;
      height: auto;
      -webkit-transition: all .4s;
      transition: all .4s; }
    #course a:nth-child(2) {
      margin: 0 1rem; }
    #course a div {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      opacity: 0;
      -webkit-transition: all .4s;
      transition: all .4s;
      font-size: 1.5rem;
      font-weight: bold; }
    #course a:hover div {
      opacity: 1;
      z-index: 1; }

#new-course {
  width: 1200px;
  margin: 0 auto 3rem auto; }
  #new-course .title {
    margin: 1.75rem 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.75rem;
    color: #0a8e93; }
  #new-course #swiper-moreAd {
    height: 236px; }
    #new-course #swiper-moreAd .new-course-item {
      display: block;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
      height: 236px;
      margin-bottom: 1rem;
      position: relative;
      cursor: pointer;
      overflow: hidden; }
      #new-course #swiper-moreAd .new-course-item .new-course-itemImage {
        width: 223px;
        height: 99.5%;
        display: block;
        background-image: url("../images/course-list/05.jpg ");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 12px;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        margin: 0 auto; }
        #new-course #swiper-moreAd .new-course-item .new-course-itemImage .new-course-itemText {
          width: 223px;
          height: 100%;
          border-radius: 12px;
          background-color: #007de4;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, 100%);
                  transform: translate(-50%, 100%);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-decoration: none;
          -webkit-transition: all .4s;
          transition: all .4s; }
          #new-course #swiper-moreAd .new-course-item .new-course-itemImage .new-course-itemText .new-course-itemText_inner {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            #new-course #swiper-moreAd .new-course-item .new-course-itemImage .new-course-itemText .new-course-itemText_inner span {
              color: #fff;
              font-size: 1.1rem;
              margin: .25rem 0; }
      #new-course #swiper-moreAd .new-course-item:hover > .new-course-itemImage > .new-course-itemText {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
  #new-course ul {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #new-course ul li {
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
      height: 236px; }
      #new-course ul li a {
        width: 223px;
        height: 99.5%;
        display: block;
        background-color: #ececec;
        background-image: url("../images/newcourse/01.jpg");
        background-repeat: no-repeat;
        background-position: center 0;
        border-radius: 12px;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        margin: 0 auto; }
        #new-course ul li a:hover {
          background-position: center -236px; }

#hot-course {
  width: 1200px;
  margin: 0 auto;
  display: block; }
  #hot-course .hot-course-title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1.5rem;
    border-bottom: 1px dashed #adadad;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #hot-course .hot-course-title > span {
      font-size: 1.75rem;
      font-weight: bold;
      color: #0a8e93; }
    #hot-course .hot-course-title a {
      margin-left: auto;
      text-decoration: none;
      color: #676767;
      font-weight: bold;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      #hot-course .hot-course-title a span {
        margin-right: 1rem; }
      #hot-course .hot-course-title a svg#arrow_group {
        width: 10px;
        fill: #676767; }
  #hot-course .hot-course-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 3rem 0; }
    #hot-course .hot-course-list .hot-course-item {
      display: block;
      -ms-flex-preferred-size: 20%;
          flex-basis: 20%;
      height: 236px;
      margin-bottom: 1rem;
      position: relative;
      cursor: pointer;
      overflow: hidden; }
      #hot-course .hot-course-list .hot-course-item .hot-course-itemImage {
        width: 223px;
        height: 99.5%;
        display: block;
        background-image: url("../images/course-list/05.jpg ");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        border-radius: 12px;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        margin: 0 auto; }
        #hot-course .hot-course-list .hot-course-item .hot-course-itemImage .hot-course-itemText {
          width: 223px;
          height: 100%;
          border-radius: 12px;
          background-color: #007de4;
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, 100%);
                  transform: translate(-50%, 100%);
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          text-decoration: none;
          -webkit-transition: all .4s;
          transition: all .4s; }
          #hot-course .hot-course-list .hot-course-item .hot-course-itemImage .hot-course-itemText .hot-course-itemText_inner {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center; }
            #hot-course .hot-course-list .hot-course-item .hot-course-itemImage .hot-course-itemText .hot-course-itemText_inner span {
              color: #fff;
              font-size: 1.1rem;
              margin: .25rem 0; }
      #hot-course .hot-course-list .hot-course-item:hover > .hot-course-itemImage > .hot-course-itemText {
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }

#content {
  width: 100%;
  background-color: #f2f2f2; }
  #content .content-wrapper {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    #content .content-wrapper .content-item {
      -ms-flex-preferred-size: 25%;
          flex-basis: 25%;
      padding: 1rem; }
      #content .content-wrapper .content-item .title {
        font-weight: bold;
        font-size: 1.2rem;
        border-bottom: 1px solid #c5c5c5;
        padding: 1rem 0;
        color: #626262;
        position: relative; }
        #content .content-wrapper .content-item .title:before {
          content: '';
          position: absolute;
          width: 40%;
          height: 3px;
          background-color: #919191;
          bottom: -1px;
          left: 0; }
      #content .content-wrapper .content-item.content-list ul li {
        font-size: .9rem;
        margin: .75rem 0;
        color: #2e2e2e; }
      #content .content-wrapper .content-item.social-list .social-icon {
        width: 45px;
        height: 45px;
        margin: 1rem .75rem 1rem 0;
        display: inline-block; }
        #content .content-wrapper .content-item.social-list .social-icon.fb-icon {
          background-image: url("../images/fb-icon.png"); }
        #content .content-wrapper .content-item.social-list .social-icon.ig-icon {
          background-image: url("../images/ig-icon.png"); }
      #content .content-wrapper .content-item.support-list ul li {
        margin: .75rem 0; }
        #content .content-wrapper .content-item.support-list ul li a {
          text-decoration: none;
          color: #2e2e2e;
          font-size: .9rem; }
      #content .content-wrapper .content-item.logo a {
        display: block;
        width: 200px;
        height: 200px;
        background-image: url("../images/logo_.png");
        background-repeat: no-repeat;
        background-size: 100%;
        border-radius: 50%;
        margin: 0 auto;
        border: 1px solid #dddddd; }

#copyright {
  width: 100%;
  height: 62px;
  background-color: #626262; }
  #copyright .copyright {
    width: 1200px;
    line-height: 62px;
    color: #fff;
    margin: 0 auto; }

@media screen and (max-width: 1200px) {
  #header .header-wrppper {
    width: 100%;
    height: auto;
    overflow: hidden; }
  #swiper {
    width: 100%;
    height: auto;
    overflow: hidden; }
  #course {
    width: 100%;
    height: auto;
    overflow: hidden; }
  #new-course {
    width: 100%;
    height: auto;
    overflow: hidden; }
  #hot-course {
    width: 100%;
    height: auto;
    overflow: hidden; }
  #content .content-wrapper {
    width: 100%;
    height: auto;
    overflow: hidden; }
  #copyright .copyright {
    width: 100%;
    height: auto;
    overflow: hidden; } }

@media screen and (max-width: 1024px) {
  #header {
    height: auto;
    padding: 2rem 1rem; }
  #course a {
    height: auto; }
  #new-course ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  #hot-course .hot-course-list .hot-course-item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%; } }

@media screen and (max-width: 768px) {
  #header {
    padding: 1rem; }
  #header .header-wrppper .logo {
    margin: .75rem 0; }
  #header .header-wrppper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  #header .header-wrppper ul {
    margin: 0 auto; }
  #header .header-wrppper ul li a {
    display: inline-block; }
  #hot-course .hot-course-list .hot-course-item {
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%; }
  #copyright .copyright {
    text-align: center; } }

@media screen and (max-width: 576px) {
  #header .header-wrppper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  #header .header-wrppper .nav-toggle {
    display: block;
    width: 72px;
    height: 72px;
    background-image: url(../images/menu.jpg);
    margin-left: auto;
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat; }
  #header .header-wrppper .navbar {
    width: 100%;
    background-color: #fff;
    -webkit-transition: all .4s;
    transition: all .4s;
    height: 0; }
    #header .header-wrppper .navbar.toggle {
      height: 240px; }
    #header .header-wrppper .navbar li {
      width: 100%; }
      #header .header-wrppper .navbar li a {
        width: 100%;
        padding: 1rem 1.75rem; }
  #hot-course .hot-course-list .hot-course-item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
  #content .content-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  #content .content-wrapper .content-item {
    padding: .5rem; }
  #content .content-wrapper .content-item .title {
    padding: .5rem 0; }
  #content .content-wrapper .content-item.social-list .social-icon {
    margin: .25rem .25rem 0 0; }
  #content .content-wrapper .content-item.logo {
    display: none; }
  #new-course #swiper-moreAd .new-course-item .new-course-itemImage {
    border-radius: 0;
    width: 90%;
    background-size: cover; }
    #new-course #swiper-moreAd .new-course-item .new-course-itemImage .new-course-itemText {
      width: 90%;
      height: 40%;
      border-radius: 0;
      top: 0;
      bottom: 0;
      padding: .5rem;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%); }
      #new-course #swiper-moreAd .new-course-item .new-course-itemImage .new-course-itemText .new-course-itemText_inner {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 1rem; }
        #new-course #swiper-moreAd .new-course-item .new-course-itemImage .new-course-itemText .new-course-itemText_inner span {
          color: #000;
          font-weight: bold; }
  #new-course #swiper-moreAd .new-course-item:hover > .new-course-itemImage > .new-course-itemText {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%); } }

@media screen and (max-width: 414px) {
  #hot-course .hot-course-list .hot-course-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%; }
  #hot-course .hot-course-list {
    margin: 1rem 0; }
  #hot-course .hot-course-list .hot-course-item .hot-course-itemImage {
    border-radius: 0;
    width: 90%;
    background-size: cover; }
    #hot-course .hot-course-list .hot-course-item .hot-course-itemImage .hot-course-itemText {
      width: 90%;
      height: 40%;
      border-radius: 0;
      top: 0;
      bottom: 0;
      padding: .5rem;
      background-color: rgba(255, 255, 255, 0.3);
      -webkit-transform: translate(-50%, 0%);
              transform: translate(-50%, 0%); }
      #hot-course .hot-course-list .hot-course-item .hot-course-itemImage .hot-course-itemText .hot-course-itemText_inner {
        width: 100%;
        background-color: rgba(255, 255, 255, 0.4);
        padding: 1rem; }
        #hot-course .hot-course-list .hot-course-item .hot-course-itemImage .hot-course-itemText .hot-course-itemText_inner span {
          color: #2d2d2d;
          font-weight: bold; }
  #hot-course .hot-course-list .hot-course-item:hover > .hot-course-itemImage > .hot-course-itemText {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%); }
  #content .content-wrapper .content-item .title {
    font-size: .8rem; }
  #copyright {
    height: auto; }
    #copyright .copyright {
      line-height: 0;
      font-size: .8rem;
      padding: 1rem; } }
